/*   ---  SETUP  ---   */
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    
}

header{
    display: block;
    margin: 0 auto;
    height: 15vh;
}

#scoreboard{
    width: 100%;
    display: flex;
    margin: 0 auto;
    font-size: 30px;
    justify-content: center;

}

.score{
    text-align: center;
    margin-right: 25px;
}

#game {
    width: 100vw;
    height: 80vh;
}

h1 {
    text-align: center;
    font-family: 'Karantina', cursive;
    text-transform: uppercase;
    font-size: 75px;
    color: #010101;
}

h2{
    margin-top: 15px;
    font-size: 50px;
    color: #010101;
}

/*   ---  BUTTONS  ---   */

#u_buttons{
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    width: 90%;
    padding: 15px;
    text-align: center;
}

button {
    margin-right: 15px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

button:hover{
    transform: scale(1.15);
    cursor: pointer;
}

button:last-of-type {
    margin-right: 0;
}

#u_rock {
    background-image: url(./assets/rock.png);
    background-size: contain;
}

#u_paper {
    background-image: url(./assets/paper.png);
    background-size: contain;
}

#u_scissors {
    background-image: url(./assets/scissors.png);
    background-size: contain;
}

#u_lizard {
    background-image: url(./assets/lizard.png);
    background-size: contain;
}

#u_spock {
    background-image: url(./assets/spock.png);
    background-size: contain;
}

#comp_button {
    display: block;
    margin: 0 auto;
    background-image: url(./assets/generate.png);
    background-size: contain;
}

#text-box{
    font-family: 'Karantina', cursive;
    display: block;
    width: 80%;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: 45px;
}

#reset{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 100px;
    height: 25px;
}